version: "3.9"

services:
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: appdb
      MYSQL_USER: app
      MYSQL_PASSWORD: app
    ports:
      - "3306:3306"
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
      - dbdata:/var/lib/mysql

  api:
    build:
      context: ./api
    environment:
      DB_HOST: db
      DB_USER: app
      DB_PASSWORD: app
      DB_NAME: appdb
      DB_PORT: 3306
      PORT: 4000
    depends_on:
      - db
    ports:
      - "4000:4000"


volumes:
  dbdata:
